# Arquivos e diretórios específicos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
test-env/
venv/
env/

# Arquivos de configuração
*.pyc
.DS_Store
*.sqlite3

# Logs e saídas de teste
*.log
*.pot
*.pyc
.idea/

# Arquivos de configuração de IDEs
.vscode/
*.sublime-*
*.suo
*.ntvs*

# Arquivos temporários
*.tmp
*.bak
*.swp

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de usuário
*.orig
*.rej
